@import "variables";
@import "utilities";
@import "mixins";

#header-home {
  &.header-inner {
    background: $overlay-medium, $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $primary-color;
    padding-bottom: 0;

    .container {
      height: 100%;
    }

    #main-nav {
      align-items: center;
      height: 100%;
    }
  }
}

#about {
  &-a {
    @include py(3);
    .about-info {
      display: grid;
      grid-template-areas:
        "bioimage bio bio"
        "award1 award2 award3";
      gap: 1.2rem;
    }

    .bio-image {
      grid-area: bioimage;
      transition: all $transition-slow;
      &:hover {
        border-radius: 50%;
      }
    }

    .bio {
      grid-area: bio;
      padding: 1rem;
      border-left: 3px solid $primary-color;
      background-color: $light-color;
      h1,
      h2,
      h3,
      h4 {
        text-transform: uppercase;
      }

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-weight: 100;
        @include py(0.5);
        @include my(1);
        background-color: $primary-fade;
      }
    }

    .award-1 {
      grid-area: award1;
    }

    .award-2 {
      grid-area: award2;
    }

    .award-3 {
      grid-area: award3;
    }

    .award-1,
    .award-2,
    .award-3 {
      i {
        color: $primary-color;
        transition: color $transition-medium;
        &:hover {
          color: $dark-color;
        }

        &:hover + h3 {
          color: $primary-color;
        }
      }

      h3 {
        transition: color $transition-medium;
      }
    }
  }
  &-b {
    background-color: $dark-color;
    color: white;
    @include py(3);

    .progress {
      overflow: hidden;
      height: 20px;
      background-color: $medium-color;
      border-radius: 5px;
      margin-bottom: 1rem;

      &-1 {
        @include progressbar(40);
        height: 100%;
        @extend .bg-gradient-rainbow;
      }
      &-2 {
        @include progressbar(250);
        height: 100%;
        @extend .bg-gradient-rainbow;
      }
      &-3 {
        @include progressbar(80);
        height: 100%;
        @extend .bg-gradient-rainbow;
      }
      &-4 {
        @include progressbar(220);
        height: 100%;
        @extend .bg-gradient-rainbow;
      }
      &-5 {
        @include progressbar(100);
        height: 100%;
        @extend .bg-gradient-rainbow;
      }
      &-6 {
        @include progressbar(70);
        height: 100%;
        @extend .bg-gradient-rainbow;
      }
    }
  }
  &-c {
    @include py(3);
    img {
      object-fit: cover;
      width: 3rem;
      height: 3rem;
      border: 1px solid black;
    }
    .icon-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      div {
        @include padding(1);
        &:nth-child(3n + 1) {
          background-color: $primary-color;
        }
      }
    }
  }
}
