.container {
  max-width: $website-width;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 0.6rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  &:hover {
    background-color: $primary-color;
  }
  &-primary {
    color: $dark-color;
    background-color: $primary-color;
  }
  &-light {
    color: $dark-color;
    background-color: $light-color;
  }
  &-dark {
    color: $light-color;
    background-color: $dark-color;
  }
}

//text

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary-color;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 100;
}

// gradients

.tg {
  &-red-orange {
    background: #ffbc00;
    background: linear-gradient(to right, #ffbc00 0%, #cf1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-primary {
    background: $primary-color;
    background: linear-gradient(
      to right,
      #ffbc00 0%,
      darken(#ffbc00, 20%) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-rainbow {
    background: violet;
    background: linear-gradient(
      to right,
      #ee82ee,
      #4b0082,
      #0000ff,
      #008000,
      #ffa500,
      #ffff00,
      #ff0000
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-rainbow-harsh {
    background: #ee82ee;
    background: linear-gradient(
      to right,
      #ee82ee 0%,
      #4b0082 17%,
      #0000ff 34%,
      #008000 51%,
      #ffa500 68%,
      #ffff00 85%,
      #ff0000 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.bg-gradient {
  &-rainbow {
    background: violet;
    background: linear-gradient(
      to right,
      #ee82ee,
      #4b0082,
      #0000ff,
      #008000,
      #ffa500,
      #ffff00,
      #ff0000
    );
  }
}

// keyframes animations
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

// glow effects
.glow {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 8px;
  }

  &::before {
    filter: blur(1rem);
    opacity: 0.5;
    animation: pulse 3s linear infinite;
  }

  &-primary {
    &::before,
    &::after {
      background-image: conic-gradient(
        from 0deg,
        $primary-color,
        lighten($primary-color, 20%),
        $primary-color,
        darken($primary-color, 10%),
        $primary-color
      );
    }
  }

  &-primary-animated {
    &::before,
    &::after {
      background-image: conic-gradient(
        from 0deg,
        $primary-color,
        lighten($primary-color, 20%),
        darken($primary-color, 10%),
        $primary-color
      );
      animation: glow-spin 3s linear infinite;
    }
  }

  &-rainbow {
    &::before,
    &::after {
      background-image: conic-gradient(
        from 0deg,
        #ff4545,
        #ff0095,
        #006aff,
        #00ff99,
        #ff4545
      );
    }
  }

  &-rainbow-animated {
    &::before,
    &::after {
      background-image: conic-gradient(
        from 0deg,
        #ff4545,
        #ff0095,
        #006aff,
        #00ff99,
        #ff4545
      );
      animation: glow-spin 3s linear infinite;
    }
  }

  &-blue-purple {
    &::before,
    &::after {
      background-image: conic-gradient(
        from 0deg,
        #006aff,
        #8b5cf6,
        #ec4899,
        #006aff
      );
    }
  }

  &-blue-purple-animated {
    &::before,
    &::after {
      background-image: conic-gradient(
        from 0deg,
        #006aff,
        #8b5cf6,
        #ec4899,
        #006aff
      );
      animation: glow-spin 3s linear infinite;
    }
  }
}

@keyframes glow-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

// other
.divider {
  &-sm {
    border-bottom: 3px solid $primary-color;
    margin: 0.3rem auto;
    margin-bottom: 0.75rem;
    width: 10%;
  }
  &-thin {
    border-bottom: 1px solid $light-color;
  }
}
