@import "variables";
@import "utilities";
@import "mixins";

#gallery {
  @include py(3);
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  gap: 20px;
  padding-bottom: 10px;
}

.item {
  position: relative;
  background-color: $primary-color;
  overflow: hidden;
  transition: box-shadow 0.5s;
  border: 3px dotted transparent;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }

  &:hover {
    box-shadow: 10px 10px;
    &::after {
      transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
    }
    .item-image {
      transform: scale(1.2);
    }
    .item-text {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-image {
    transition: transform 1s;
    height: auto;
    display: block;
    &::before {
      content: "";
      display: block;
      padding-top: 75%;
      overflow: hidden;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 0;
      object-fit: contain;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: white;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1) transform 500ms
      cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms;
  }

  &-text-wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0;
  }

  &-text-title {
    padding: 1rem;
  }

  .link-container {
    display: flex;
    justify-content: center;
    a {
      color: white;
      padding-left: 1rem;
      padding-right: 1rem;
      transition: color $transition-medium;
      &:hover {
        color: $dark-color;
      }
    }
  }
}
