@import "variables";
@import "utilities";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
  background: white;
  font-size: 18px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// header

#header-home {
  background: $overlay-light, $bg-image no-repeat center right / cover;
  height: 100vh;
  color: white;

  .container {
    height: 70%;
  }

  .logo {
    width: 70px;
    height: 70px;
    color: white;
    transition: all $transition-medium;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
      font-size: 5rem;
    }
  }
}

// nav
#main-nav {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  // we make border transparent so that we only transition color. This keeps same thing in place.
  a {
    text-transform: uppercase;
    color: white;
    border-bottom: 3px transparent solid;
    transition: border-bottom $transition-medium;
    &:hover {
      border-bottom: 3px solid white;
    }

    &.current {
      border-color: $primary-color;
    }
  }
}

// section
#home-a {
  @include py(2);
  .specials {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  i {
    color: $primary-color;
    padding-bottom: 0.4rem;
  }
}

#home-b {
  .stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    li {
      line-height: 2;
      &.stats-title {
        font-size: $font-sm;
      }
      &.stats-number {
        font-size: $font-lg;
      }
    }

    div {
      @include py(2);
      &:nth-child(odd) {
        background-color: $light-color;
      }
      &:nth-child(even) {
        background-color: $medium-color;
      }
    }
  }
}

#home-c {
  @include py(2);
  .process {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    div {
      @include px(1);
    }

    .process-step {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 28px;
      background: $primary-color;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      line-height: 15px;
      padding: 1rem;
      transition: all 1s;
    }

    .process-icon {
      border-radius: 50%;
      background-color: $dark-color;
      color: white;
      padding: 2rem;
      width: 70px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      position: relative;
      transition: all 1s;
      margin-bottom: 1rem;

      &:hover {
        background-color: $primary-color;
        width: 90px;
        height: 90px;
        line-height: 90px;

        .process-step {
          background-color: $dark-color;
        }
      }
    }
  }
}

#main-footer {
  background-color: $dark-color;
  color: white;
  height: 5rem;
  @include py(2);

  p {
    @include text-gradient("red-orange");
  }

  .footer-content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .social {
    i {
      margin-right: 1rem;
      border: 2px solid white;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      transition: all $transition-medium;
      &:hover {
        background-color: $primary-color;
        color: $dark-color;
      }
    }
  }
}

@import "about";
@import "work";
@import "contact";
@import "responsive";
